@tailwind base;
@tailwind components;
@tailwind utilities;

.servicios {
    position: static;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
}



.img {
    height: 100px;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

.textBox>.head {
    font-size: 20px;
}

.textBox>.price {
    font-size: 17px;
}

.textBox>span {
    font-size: 12px;
    color: lightgrey;
}

.servicios:hover>.textBox {
    opacity: 1;
}

.servicios:hover>.img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.servicios:hover {
    transform: scale(1.04) rotate(-1deg);
}

.enviar {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.enviar span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.enviar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.enviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.enviar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.enviar:hover span {
    transform: translateX(5em);
}

.enviar:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.social {
    display: flex;

    height: 70px;
    width: 270px;
}

.social svg {
    position: absolute;
    display: flex;
    width: 40%;
    height: 50%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.social .social-link1,
.social .social-link2,
.social .social-link3,
.social .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 30%;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 100%;
}

.social svg {
    transform: scale(1);
}

.social .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
}

.social .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}

.social .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.social .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.7);
    }
}

.cardImage:hover>.barraExp {
    width: 0%;
    margin: auto;
    height: 0px;
    background-color: #0479ff;
    animation: barIn 0.3s ease-in forwards;
}

.cardImage:hover>img {
    animation: scale 0.5s forwards;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes barIn {
    0% {
        width: 0%;
        height: 0px;
    }

    100% {
        width: 100%;
        height: 3px;
    }
}


.services:hover>div {
    opacity: 0;
    transform: translateY(0px);
    transition: 0.4s ease-in-out;
}

.card {
    display: flex;
    justify-content: end;
    width: 270px;
    height: 70px;
}

.card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 80%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}


.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card svg {
    transform: scale(1);
}



.card .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}